.mainWrapper {
  min-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#newsBlockWrapper {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: black;
}

.newsBlock_button {
  visibility: hidden;
}

.shown {
  opacity: 90%;
}

#newsBlock_holder {
  box-sizing: border-box;
  width: 300px;
  min-height: 200px;
  margin-top: -15%;
  margin-right: -50%;
  margin-left: 50px;
  z-index: 1;

  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 20px;
}

.newsBlock_post {
  opacity: 100%;
  width: 300px;
}

#newsBlock_post_textHeader {
  font-size: 30px;

  text-transform: uppercase;
  color: aliceblue;
  text-align: left;
}

#newsBlock_post_text {
  font-size: 16px;
  text-align: left;
  color: aliceblue;
}

.newsBlock_Canvas {
  width: 100%;
  border: 1px solid green;
  color: aliceblue;
}

@media (width > 560px) {
  #newsBlockWrapper {
    flex-direction: row;
  }

  .shown {
    animation: easein, slidein;
    animation-duration: 1s, 0.5s;
    animation-timing-function: ease-in, linear;
  }
}

@media (width >900px) {
  .newsBlock_button {
    visibility: visible;
    box-sizing: border-box;
    background-color: black;
    border: 1px solid orange;
    color: white;
    width: 50px;
    height: 50px;
    z-index: 1;
  }

  #prevPost {
    margin-right: -25px;
  }

  #nextPost {
    margin-left: -25px;
  }
}

@keyframes easein {
  from {
    opacity: 0%;
  }

  to {
    opacity: 90%;
  }
}

@keyframes slidein {
  from {
    margin-left: -50px;
  }

  to {
    margin-left: 0px;
  }
}
