* {
  margin: 0px;
  padding: 0px;
}

.mainWrapper {
  width: 100%;
  min-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 1px solid violet;
}

#newsBlockWrapper {
  display: block;
  position: relative;
  width: 80%;
  height: 821px;
  min-width: 960px;
  border: 1px solid yellow;
  background: black;
}

.newsBlock_Canvas {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: inherit;
  height: 621px;
  width: 921px;
  border: 1px solid green;
}

.newsBlock_button {
  display: block;
  visibility: hidden;
}

#newsBlock_postholder {
  border: 1px solid blue;
  display: block;
  position: absolute;
  top: 621px;
  left: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  min-width: 300px;
  min-height: 200px;
  z-index: 1;
}

.newsBlock_post {
  display: block;
  position: absolute;
  top: 0px;
  opacity: 80%;
  width: 100%;
}

.shown {
  animation: easein, popup;
  animation-duration: 1s, 0.5s;
  animation-timing-function: ease-in, linear;
}

#newsBlock_post_textHeader {
  font-size: 24px;
  text-transform: uppercase;
  color: aliceblue;
  text-align: left;
}

#newsBlock_post_text {
  font-size: 16px;
  text-align: justify;
  color: aliceblue;
}

.newsBlock_nav {
  border: 1px solid orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
}

@media (width > 560px) {
  .mainWrapper {
    width: 100%;
    min-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid violet;
  }

  #newsBlockWrapper {
    display: block;
    position: relative;
    width: 80%;
    height: 621px;
    min-width: 960px;
    border: 1px solid yellow;
    background: black;
  }

  .newsBlock_Canvas {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: inherit;
    height: 621px;
    width: 921px;
    border: 1px solid green;
  }

  .newsBlock_button {
    display: block;
    visibility: hidden;
  }

  #newsBlock_postholder {
    border: 1px solid greenyellow;
    display: block;
    position: absolute;
    top: 100px;
    left: 100px;
    box-sizing: border-box;
    width: 30%;
    height: 300px;
    min-width: 300px;
    min-height: 200px;
    z-index: 1;
  }

  .newsBlock_post {
    display: block;
    opacity: 80%;
    width: 100%;
  }

  #newsBlock_post_textHeader {
    font-size: 24px;
    text-transform: uppercase;
    color: aliceblue;
    text-align: left;
  }

  #newsBlock_post_text {
    font-size: 16px;
    text-align: justify;
    color: aliceblue;
  }

  .newsBlock_nav {
    border: 1px solid orange;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
  }

  .shown {
    animation: easein, slidein;
    animation-duration: 1s, 0.5s;
    animation-timing-function: ease-in, linear;
  }
}

@media (width > 900px) {
  .newsBlock_button {
    visibility: visible;
    position: absolute;
    top: calc(50% - 50px);
    box-sizing: border-box;
    background-color: black;
    border: 1px solid orange;
    color: white;
    width: 50px;
    height: 50px;
    z-index: 1;
  }

  #prevPost {
    left: 0;
    position: absolute;
  }

  #nextPost {
    right: 0;
    position: absolute;
  }
}

@keyframes easein {
  from {
    opacity: 0%;
  }

  to {
    opacity: 80%;
  }
}

@keyframes slidein {
  from {
    margin-left: -50px;
  }

  to {
    margin-left: 0px;
  }
}

@keyframes popup {
  from {
    margin-top: 50px;
  }

  to {
    margin-top: 0px;
  }
}
